* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'open_sansregular', sans-serif;
}

.main_width {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: $dark-gray;
  color: $white;
  font-size: 0.9375rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.4);
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 53px;
}

.menu-item {
  min-width: 20%;
  padding: 19px 20px;
  transition: all 0.3s ease-in-out;
  cursor: default;
  &:hover {
    background-color: $white;
    color: $dark-gray;
  }
}

.menu-logo {
  width: 20%;
  position: relative;
  top: 5px;
  padding: 0;
  cursor: default;
}

header {
  margin-top: 53px;
  background: url(../images/hex-bg.png) repeat-x center center;
  background-size: auto;
}

.mega-header {
  display: flex;
  justify-content: center;

}

.dev-container {
  width: 70%;
  padding: 55px;
  text-align: center;
  color: $dark-gray;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+30,0+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.dev-logo {
  position: relative;
  margin: 0 auto;
  height: 115px;
  width: 20%;
  transition: 0.3s;
  cursor: default;
  &:hover {
    transform: scale(1.2);
  }
}

.logo-svg {
  width: 100px;
}

.logo-shape {
  fill: $violet;
  fill-opacity: 1;
  stroke: $violet;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-rule: evenodd;
}

.logo-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: $white;
  font-family: 'open_sansbold', sans-serif;
}

.dev-name {
  margin-top: 35px;
  font-family: 'open_sansbold', sans-serif;
  font-size: 2.3125rem;
}

.dev-proffesion {
  margin-top: 15px;
  font-family: 'open_sanslight', sans-serif;
  font-size: 2rem;
}

.section-title {
  padding: 70px 20px 0;
  font-family: 'open_sanslight', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.technologies {
  text-align: center;
  background: $super-dark-gray;
  color: $white;
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.4);
}

.tech-container {
  padding: 50px 0;
}

.tech-first-row,
.tech-second-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 20px;
}

.tech-second-row {
  margin-top: -40px;
}

.small {
  display: none;
}

.fakebox {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  > svg {
    width: 80%;
  }

  .cls-1 {
    fill: $dark-gray;
    fill-opacity: 1;
    stroke: $dark-gray;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd;
  }
}



@media #{$desktop} {
  .fakebox {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 80%;
    }
  }
}


@media #{$tablet} {
  .big {
    display: none;
  }

  .small {
    display: block;
    max-width: 550px;
    margin: 0 auto;
  }

  .tech-first-row {
    .fakebox {
      margin: 10px 0;
    }
  }

  .tech-second-row {
    margin-top: -30px;
  }

  .fakebox {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 80%;
    }

    .cls-1 {
      fill: $dark-gray;
      fill-opacity: 1;
      stroke: $dark-gray;
      stroke-linejoin: round;
      stroke-width: 2px;
      fill-rule: evenodd;
    }
  }
}

@media #{$phone} {
  .big {
    display: none;
  }

  .small {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }

  .tech-first-row {
    .fakebox {
      margin: 20px 0;
    }
  }

  .tech-second-row {
    margin-top: -37px;
  }

  .fakebox {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    > svg {
      width: 80%;
    }

    .cls-1 {
      fill: $dark-gray;
      fill-opacity: 1;
      stroke: $dark-gray;
      stroke-linejoin: round;
      stroke-width: 2px;
      fill-rule: evenodd;
    }
  }
}

.projects {
  color: $dark-gray;
  text-align: center;
}

.proj-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 50px 0;
}

.proj-first-row,
.proj-second-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 20px;
}

.proj-second-row {
  margin-top: -60px;
}

.fakeboxproj {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  > svg {
    width: 80%;
  }

  .cls-1 {
    fill: $dark-gray;
    fill-opacity: 1;
    stroke: $dark-gray;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd;
  }
}

.contact {
  background: $violet;
  color: $white;
  text-align: center;
  -webkit-box-shadow: 0px -3px 10px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px -3px 10px 5px rgba(0,0,0,0.4);
  box-shadow: 0px -3px 10px 5px rgba(0,0,0,0.4);
}

.cont-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 50px 0;
}

.left-cont {
  text-align: right;
}

.right-cont {
  text-align: left;
  .cont-form {
    display: flex;
    flex-flow: column;
  }
}
