<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karol Krusiec - Portfolio</title>
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li>
            <a href="#">Strona główna</a>
          </li>
          <li>
            <a href="#">Technologie</a>
          </li>
          <li>
            <a href="#">Projekty</a>
          </li>
          <li>
            <a href="#">Kontakt</a>
          </li>
        </ul>
        <button class="hamburger-btn" type="button">
          <img src="./images/hamburger.svg">
          <img src="./images/close.svg">
        </button>
      </nav>
      <div class="main-width">
        <span>LOGO</span>
        <h1>Karol Krusiec</h1>
        <p>Front-end Developer</p>
      </div>
    </header>

    <section>
      <h2>Technologie</h2>
      <p>html5</p>
      <p>css3</p>
      <p>Wordpress</p>
      <p>gulp</p>
      <p>sass</p>
      <p>jQuery</p>
      <p>html5</p>
      <p>css3</p>
      <p>Wordpress</p>
      <p>gulp</p>
      <p>sass</p>
      <p>jQuery</p>
    </section>

    <section>
      <h2>Projekty</h2>
      <p>babyapp</p>
      <button type="button">Więcej</button>
      <p>babyapp</p>
      <button type="button">Więcej</button>
      <p>babyapp</p>
      <button type="button">Więcej</button>
    </section>

    <section>
      <h2>Kontakt</h2>
      <p>Karol Krusiec</p>
      <p>Front-end Developer</p>
      <p>+48 791</p>
      <p>mail@mail.mail</p>
      <a href="#">Pobierz CV PDF</a>
      <a href="#">LINKEDIN</a>
      <a href="#">GITHUB</a>

      <form class="form" action="index.html" method="post">
        <input type="text" name="name" placeholder="Imię">
        <input type="text" name="email" placeholder="E-mail">
        <textarea name="message" rows="8" cols="80" placeholder="Treść wiadomości"></textarea>
        <input type="submit" name="submit" value="Wyślij">
      </form>
    </section>

  </body>
</html>
