//breakpoints
$phone: 'only screen and (max-width: 480px)';
$tablet: 'screen and (min-width: 481px) and (max-width: 768px)';
$desktop: 'screen and (min-width: 769px)';

//colors
$super-dark-gray: #252227;
$dark-gray: #333;
$white: #fff;
// $main-bg: #22303f;
// $tab-bg: #192532;
// $tab-title-text: #7da4cd;
// $tab-text: #ddd;
// $tab-item-border: #111d29;
// $tab-item-over: #405a74;
// $icon-base-color: #f43b3b;
// $confirm-bg: #367237;
